.navbar {
    background-color: rgb(135, 236, 240);
    transition: .5s;
}
/* Slideshow */
.carousel {
    margin: 0%;
    padding: 0%;
    font-family: 'Denk One', sans-serif;
}
.carousel .item {
    min-height:150px;
}
.carousel .item img{
    margin: 0 auto;
    height: 70%;
    width: 100%;
}
.bs-example {
    margin-top: -19px;
    transition: .5s;
}
.navbar-brand {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
}
nav li {
    font-family: 'Raleway', sans-serif;
}
.first-fadeout {
    transition: .5s;
    text-align: center;
    font-family: 'Denk One', sans-serif;
    color: rgb(97, 179, 182);
    padding: 20px 0;
}
.container p {
    font-family: 'Raleway', sans-serif;
    line-height: 1.9;
    letter-spacing: 2px;
    padding-bottom: 30px;
    transition: .5s;
}
.container span {
    font-weight: bold;
}
footer {
    background-color: rgb(135, 236, 240);
}
.container-fluid i {
    font-size: 30px;
    padding: 20px 70px 0;
}
.footer-copyright {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}
.blue {
    width: auto;
    height: 100px;
}
.carousel-caption {
    padding: 0%;
    background-color: rgba(228, 220, 220, 0.2);
    color: black;
    margin-bottom: 40px;
}
.last-fadeout {
    transition: .5s;
}
.section-title h2 {
    display: inline-block;
    font-size: 30px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 40px;
    padding-bottom: 10px;
    position: relative;
    text-transform: uppercase;
}
.single-portfolio a::before {
    background: #000 none repeat scroll 0 0;
    content: "";
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    transform: scale(0.5);
    transition: all 0.3s ease 0s;
    width: 100%;
}
.single-portfolio:hover a::before {
    opacity: .5;
    transform: scale(1);
}
.single-portfolio a::after {
    color: #fff;
    content: "+";
    font-size: 60px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    transform: scale(0);
    transition: all 0.3s ease 0s;
}
.single-portfolio:hover a::after {
    transform: scale(1);
}
.col-md-4 {
    padding: 30px;
}
.heading {
    font-family: 'Denk One', sans-serif;
    color: rgb(97, 179, 182);
}